.footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: var(--hero-footer-bg-color);
}

.footer__container {
	@media screen and (max-width: 767px) {
		display: block;
	}

	@media screen and (min-width: 1200px) {
		display: flex;
		justify-content: flex-start;
	}
}

.footer-contacts-socials {
	@media screen and (min-width: 768px) {
		display: flex;
		justify-content: space-around;
		margin-bottom: 60px;
	}

	@media screen and (min-width: 1200px) {
		margin-bottom: 0px;
	}
}
