.footer-contacts {
	@media screen and (max-width: 767px) {
		text-align: center;
		margin-bottom: 60px;
	}

	@media screen and (min-width: 768px) {
		margin: 0;
	}

	@media screen and (min-width: 1200px) {
		margin: 0px 70px 0px 0px;
		align-self: baseline;
	}
}

.footer__logo {
	@extend %link;
	display: block;
	margin-bottom: 20px;

	color: var(--accent-link-color);
}

.footer__logo--color {
	color: var(--third-text-color);
}

.address {
	font-style: normal;
}

.footer-contacts__list {
	@extend %list;
}

@media screen and (max-width: 1199px) {
	.footer-contacts__item:not(:last-child) {
		margin-bottom: 8px;
	}
}

@media screen and (min-width: 1200px) {
	.footer-contacts__item:not(:last-child) {
		margin-bottom: 9px;
	}
}

$addressIitems: "adds", "mail", "tel";
@include footerAddressItem($addressIitems);

.footer-contacts__mail,
.footer-contacts__tel {
	color: rgba(255, 255, 255, 0.6);
}
