.subscribe {
	margin-left: 0;
	margin-right: 0;
	align-self: baseline;
}

.subscribe__form {
	display: flex;
}

.subscribe__input {
	width: 358px;
	height: 50px;
	margin-right: 12px;
	padding: 15px 0px 15px 16px;

	@include font(400, 16px, 20px);

	color: rgba(255, 255, 255, 0.8);

	background-color: rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
}

.subscribe__button {
	@include centeredFlex();
}

.subscribe__icon {
	margin-left: 10px;
	margin-right: 0;

	fill: var(--secondary-icon-color);
}
