.works {
	@media screen and (max-width: 1200px) {
		display: none;
	}
}

.works__title {
	margin-bottom: 50px;

	@include font(700, 36px, 42px);
	text-align: center;
	color: var(--secondary-text-color);
}

.works__list {
	@extend %list;

	display: flex;
}

.works__item {
	position: relative;

	width: 370px;
	margin-left: 0;
	margin-right: 0;

	&:not(:last-child) {
		margin-right: var(--margin);
	}
}

.works__label {
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 0;

	@include centeredFlex();

	margin: 0;

	@include font(700, 14px, 16px);
	text-align: center;
	text-transform: uppercase;
	color: var(--third-text-color);
	background-color: rgba(47, 48, 58, 0.8);
}
