.checkbox {
	@include centeredFlex();

	margin-bottom: 30px;

	@media screen and (min-width: 1200px) {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.checkbox__icon {
	margin: 0px 7px 0px 0px;

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	fill: var(--main-bg-color);

	border: 2px solid var(--secondary-text-color);
	border-radius: 2px;

	.checkbox:checked + & {
		border-color: var(--accent-link-color);
		background-color: var(--accent-link-color);
		fill: var(--secondary-icon-color);

		background-origin: border-box;
	}
}

.checkbox__label {
	@include centeredFlex();

	color: var(--main-text-color);

	@media screen and (max-width: 1199px) {
		@include font(400, 12px, 14px);
	}

	@media screen and (min-width: 1200px) {
		@include font(400, 14px, 24px);
	}
}

.checkbox__policy--decor-link {
	text-decoration-line: underline;

	color: var(--accent-link-color);
}
